@font-face {
  font-family: 'Futura';
  src: url('futura.woff2');
  font-weight: 400;
}

.emphasis {
  color: #b5737e;
  font-weight: bold;
}

body {
  background-color: #151515;
  font-family: Futura;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.separator {
  user-select: none; /* Seçilmeyi engeller */
  text-align: center;
  margin: 10px 0;
  color: #f0f0f0;
}

input {
  width: 280px;
  padding: 10px 0;
  font-size: 17px;
  background: linear-gradient(to bottom, #421924, #682639);
  border: transparent;
  color: #ffffff;
  outline: none;
  border-radius: 0 0 10px 10px;
  padding-left: 15px;
  padding-right: 15px;
}

input:focus{
  box-shadow: 0 8px 16px #000000;
}

input::placeholder {
  color: #ffffff;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #f0f0f0;
  width: 320px;
  text-align: center;
}

::selection {
    background: transparent;
    text-decoration: underline;
    color: inherit;
}

::-moz-selection {
    background: transparent;
    text-decoration: underline;
    color: inherit;
}

::-ms-selection {
    background: transparent;
    text-decoration: underline;
    color: inherit;
}
