@font-face {
  font-family: 'Poppins';
  src: url('poppins.woff2');
  font-weight: 400;
}

.emphasis {
  color: #b5737e;
  font-weight: bold;
}

body::before {
  content: '';
  position: absolute;
  bottom: 0; /* Start from the bottom of the screen */
  left: 0;
  width: 100%; /* Cover the entire width */
  height: 40%; /* Cover 40% of the screen height */
  background: linear-gradient(to top, black, transparent); /* Gradient effect */
  pointer-events: none; /* Allow interactions with elements underneath */
  z-index: 1; /* Ensure it sits above the content but below other overlays */
}

body {
  position: relative; /* Required for positioning the pseudo-element */
  background: linear-gradient(to bottom, #151515, #000000);
  background-attachment: fixed; /* Arka plan sabitlenir */
  background-size: cover; /* Arka planın ekranı kaplamasını sağlar */
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden; /* Dikey kaydırmayı kapatır */
}



input {
  width: 280px;
  padding: 10px 0;
  font-size: 17px;
  background: linear-gradient(to bottom, #421924, #682639);
  border: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 0 0 10px 10px;
  padding-left: 15px;
  padding-right: 15px;
}

input:focus{
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}

input::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #f0f0f0;
  width: 320px;
  text-align: center;
  max-height: calc(100vh - 100px); /* Sonuç bölgesinin maksimum yüksekliğini ayarlar */
  
}
/* Mobil cihazlar için */
@media screen and (max-width: 768px) {
  body {
    align-items: stretch; /* İçeriğin daha düzgün hizalanmasını sağlar */
    padding: 10px;
  }

  input {
    width: 100%; /* Giriş kutusunun ekran genişliğine uygun olması */
    box-sizing: border-box; /* Kenar boşluklarını hesaba kat */
  }

  #result {
    width: 100%; /* Sonuç kutusunun ekran genişliğine uygun olması */
    margin-top: 15px; /* Daha iyi boşluk görünümü için */
  }
}
