@font-face {
  font-family: 'Poppins';
  src: url('poppins.woff2');
  font-weight: 400;
}

.emphasis {
  color: #b5737e;
  font-weight: bold;
}

body {
  background-color: #151515;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* İçerik ortalanıyor */
  align-items: center;
  height: 100vh; /* Görüntüleme alanını kaplıyor */
  margin: 0;
  padding: 10px; /* Kenarlıklar için */
  background-color: #151515;
  font-family: Poppins, sans-serif;
  overflow-y: auto; /* Taşma durumunda kaydırma */
}

input {
  width: 280px;
  padding: 10px 0;
  font-size: 17px;
  background: linear-gradient(to bottom, #421924, #682639);
  border: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 0 0 10px 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%; /* Küçük ekranlarda daha iyi uyum sağlar */
  max-width: 400px; /* Daha büyük ekranlarda sınır */
  margin-top: 20px;
}

input:focus{
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}

input::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #f0f0f0;
  width: 320px;
  text-align: center;
  width: 100%; /* Genişlik ekranın tamamını kaplıyor */
  max-width: 400px; /* Daha büyük ekranlarda sınır */
  padding: 10px; /* İçerik ve kenarlık arasında boşluk */
  box-sizing: border-box; /* Kenar dolgusunu genişliğe dahil et */
}
